@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #ff413a;
}

.bg-gradient {
    background: linear-gradient(
            90deg,
            rgba(0, 87, 255, 0.1),
            rgba(189, 0, 255, 0.1) 54.09%,
            rgba(51, 0, 255, 0.1)
        ),
        #110f1a;
}

.bg-gradient-alt {
    background: linear-gradient(
            51.21deg,
            rgba(189, 0, 255, 0.2),
            rgba(255, 0, 153, 0.2) 31.63%,
            rgba(0, 26, 255, 0.2)
        ),
        #0f0b22;
}

body {
    background-color: #05040d;
}

.navbar-shadow {
    box-shadow: 0 2px 5px #251b59;
}

.bg-primary {
    background-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary);
}

.bg-dark {
    background-color: #1d1a33;
}

.accordion-content {
    @apply transition-[max-height] duration-300 ease-out overflow-hidden max-h-[2000px];
}

.accordion-content[aria-expanded="false"] {
    @apply max-h-0;
}

.card-gradient {
    @apply relative overflow-hidden rounded-2xl p-4 text-white bg-[#110f1a] flex flex-col justify-start items-start gap-5;
    z-index: 1;
}

.card-gradient::before {
    @apply absolute top-0 right-0 left-0 h-full max-h-[250px];
    z-index: -1;
    content: "";
    background: linear-gradient(
        180deg,
        rgba(95, 114, 189, 0.1),
        rgba(155, 35, 234, 0.1) 54.09%,
        rgba(4, 4, 13, 0.1)
    );
}

.table {
    @apply text-white border-collapse table-fixed w-full h-10;
    caption-side: bottom;
}

.table th,
.table td {
    @apply p-2 bg-primary;
    border: 4px solid #110f1a;
    border-right-color: transparent;
    border-left-color: transparent;
}

.table td {
    @apply bg-[#1d1a33];
}

.table tr td:first-child,
.table tr th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.table tr td:last-child,
.table tr th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
