@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #ff413a;
}

.bg-gradient {
    background: linear-gradient(
            90deg,
            rgba(0, 87, 255, 0.1),
            rgba(189, 0, 255, 0.1) 54.09%,
            rgba(51, 0, 255, 0.1)
        ),
        #110f1a;
}

.bg-gradient-alt {
    background: linear-gradient(
            51.21deg,
            rgba(189, 0, 255, 0.2),
            rgba(255, 0, 153, 0.2) 31.63%,
            rgba(0, 26, 255, 0.2)
        ),
        #0f0b22;
}

body {
    background-color: #05040d;
}

.navbar-shadow {
    box-shadow: 0 2px 5px #251b59;
}

.bg-primary {
    background-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary);
}

.bg-dark {
    background-color: #1d1a33;
}
